{% load static %}
body {
    font-family: stratum;
	line-height: 1.8;
    background: #F6F6F6;
}

@font-face {
    font-family: 'CODE Bold';
    src: url("fonts/CODE Bold.otf") format("opentype");
}
@font-face {
    font-family: 'CODE Light';
    src: url("fonts/CODE Light.otf") format("opentype");
}



@font-face{src:url(fonts/stratum.woff);font-family:stratum}
@font-face{src:url(fonts/stratumbold.woff);font-family:stratum-bold}

	.navbar {
          margin-bottom: 0;
          background-color: #ee7230;
          z-index: 9999;border: 0;
          font-size: 20px !important;
          letter-spacing: 4px;
          border-radius: 0;
		  box-shadow: 5px 0px 40px rgba(0,0,0, 0.2)
      }
      .navbar li a,  .navbar-brand {
    color: #fff !important;
	font-size:20px;
	font-weight: bold;
	transition: all 0.4s ease;
        }

		.navbar-brand{
			position: relative;
			left:600%;
			font-size: 30px;
		}

		.navbar-brand img {
            width:60px;
            position: absolute;
            top:-20px;
        }
      .navbar-nav li a:hover, .navbar-nav li.active a {
    color: rgba(16, 33, 61, 0.9) !important;
    background-color: #f5f5ef !important;
        }
      .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
        }

      .bod{
          padding-top: 50px;
          height:100vh;
            margin:auto;
      }
        .main{
            padding-top:18%;
            font-family: Montserrat;
            font-size: 30px;
        }